Django==5.2.7
langgraph==0.5.3
langchain==0.3.27
langchain-openai==0.3.32
langchain-community==0.3.26
langchain-core==0.3.66
openai==1.86.0
python-dotenv==1.1.1
requests==2.32.5
uvicorn==0.38.0
python-multipart==0.0.20
tavily-python==0.7.12
pydantic==2.12.3
